<div id="module-book">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-5">
        <div class="module-banner-left">
          <h2 class="title title--big">El vuelo de las jorobadas</h2>
          <p>Conoce nuestro primer libro sobre el fascinante 
            viaje que hacen todos los años las ballenas jorobadas de la Antártida al Pacífico colombiano.</p>
          <div class="banner-links">
            <div class="banner-link-leer">
              <a class="cta" href="/products/el-vuelo-de-las-jorobadas">
                <span>LEER MÁS</span>
                {% include 'cta-line' %}
              </a>
            </div>
            <a class="banner-link-comprar"><span>LO QUIERO!</span></a>
          </div>
          <div class="banner-destino">
            <div class="banner-destino-icon"></div>
            <div class="banner-destino-text">Destino: Costa Pacífica Colombiana</div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-7">
        <div class="module-banner-right">
          <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/libro-portada-home_2x_31708fa1-aad0-4bca-8191-556965a20b15.png?v=1585456702" alt="">
        </div>
        <div class="module-banner-circle">
          <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nuevo-libro.svg?v=1585457252" alt="">
        </div>
      </div>
      
    </div>
    
    {% if template == 'index' %}

      <div class="module-book_quote">
          <p class="title">“Hace falta tener esas alas, o aletas, para volar como lo hacen las jorobadas, las más acrobáticas de las ballenas. Están de fiesta. Se darán un último banquete antes del gran viaje al lugar donde nacieron y donde habrán de nacer sus hijos y nietos”.</p>
      </div>

    {% endif %}
  </div>

  {% if template == 'index' %}
    <div class="wave wave--blue"></div>
  {% endif %}

  {% if template == 'page.libros' %}
    <div class="wave wave--white"></div>
  {% endif %}

</div>
