.hero--contacto {
  background-color: $lazo-dark-yellow;

  .main-hero-content {
    max-width: 640px;
  }
}

#wrap-contacto-form {
  position: relative;
  background-color: $lazo-dark-yellow;
  padding: 120px 0;
}

.form-social {
  margin-top: 40px;

  h3 {
    color: $lazo-black;
    font-size: 14px;

    @include font;
  }

  .form-social-icons {
    margin-top: 16px;
    a {
      text-decoration: none;
      margin-right: 24px;
    }
  }
}

.contacto-form {
  padding-top: 20px;
  
  input, 
  textarea {
    display: block;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px $lazo-black solid;
    padding: 0;
    font-size: 14px;
    margin-bottom: 15px;

    @include font;

    &:focus {
      outline: 0;
      border-width: 2px;
    }

  
    &::placeholder {
      font-size: 14px;
      letter-spacing: 2px;
      color: rgba($lazo-black, 0.5);

      @include font;
    }
  }

  textarea {
    padding-top: 10px;
    min-height: 120px;
    max-height: 170px;
    resize: vertical;
  }

  button {
    margin-top: 24px;
    border: 1px solid $lazo-black;
    background-color: $lazo-black;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    @include font;

    &:hover {
      background: transparent;
      color: black;
    }

    &:focus {
      outline: 0;
    }

    i {
      display: inline-block;
      margin-left: 15px;
      font-size: 18px;
    }
  }

  .thankyou {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 25px;
  }

  .errors {
    font-size: 14px;
    color: $lazo-red;

    ul {
      list-style: none;
    }
  }
} 

#contacto-info {
  position: relative;
  padding: 120px 0 200px;
}

.contacto-info-left {
  max-width: 550px;
  margin-bottom: 50px;

  @include m768 {
    margin-bottom: 0;
  }
}

.contacto-info-right {
  span {
    font-size: 16px;

    @include font;
  }

  .title {
    margin-bottom: 30px;

    br {
      display: none;

      @include m768 {
        display: block;
      }
    }
  }

  p {
    font-size: 20px;
    line-height: 30px;

    @include font;
  }
  
  a {
    font-size: 20px;
    padding-top: 24px; 
    display: block;
    color: $lazo-black;
    text-decoration: underline;
    
    @include font;
  }
}

.marquee--contact {
  background-color: $lazo-blue;
}

/**
* Google Captcha
*/
.grecaptcha-badge {
  z-index: 5;
}
// Verification page
.shopify-challenge__container {
  padding: 100px 0;
}
