.destacado-buy-bar {
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding-top: 20px;
  
  a {
    display: block;
    background-color: $lazo-black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 0 16px;
    font-size: 18px;
    
    @include font;
    font-weight: 500;
  }
}

.hero--destacado {
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;

  .container {
    text-align: center;

    .title {
      max-width: 650px;
      margin: 0 auto 40px;
      text-align: center;
    }

  }
  
  .authors {
    h6 {
      font-weight: 400;
      color: white;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }    

    p {
      width: 100%;
      display: block;
      color: white;
      font-size: 20px;
      margin-bottom: 2px;
      line-height: 1.5;

      @include font;
    }
  }

  .hero-link {
    @include m768 {
      position: relative;
      top: 100px;
    }

    span,
    i {
      color: white;
    }
  }
}

#destacado-info {
  padding: 120px 0;
}

.destacado-info-left {
  .title {
    font-weight: 700;
    line-height: 1.4;
  }

  .destacado-line {
    width: 120px;
    height: 1px;
    background-color: $lazo-black;
    display: block;
    margin: 30px 0;
  }

  .destacado-detail {
    margin-bottom: 24px;

    h4,
    span {
      font-family: neue-haas-unica, sans-serif;
      font-size: 16px;
      color: $lazo-black;
      font-weight: 500;
    }

    span {
      font-weight: 400;
    }
  }

  .module-banner-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 70px 0;
    animation: rotate 10s linear infinite;
    @include m576 {
      width: 150px;
      height: 150px;
    }
    @include m576 {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }
}

.destacado-info-right {
  p {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
  }
}

#destacado-slider {
  padding-bottom: 100px;
}

.destacado-slider__slider {
  
  .slide {
    padding-bottom: 56.25%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    cursor: pointer;

    &--prev {
      left: 20px;
    }

    &--next {
      right: 20px;
    }

    i {
      font-size: 30px;
    }
  }
}

.destacado-slider__tabs {
  display: none;

  @include m768 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
  } 

  .single-slider-tab {
    position: relative;
    margin: 5px;
    opacity: 0.5;
    padding-bottom: 56.25%;
    transition: all 0.3s ease-out;
    
    @include m768 {
      margin: 5px 0;
    }

    &.active {
      opacity: 1;
      border: 1px solid $lazo-black;
    }

    img {
      display: block;
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.single-picture {
  img {
    width: 100%;
  }
}

.single-picture--container {
  padding: 60px 0;

  @include m768 {
    padding: 80px 0;
  }
}


#destacado-video {
  padding: 120px 0;
}

.destacado-video-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 10;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#destacado-banner {
  max-width: 1500px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.autores-title {
  padding: 120px 0 40px;
}

.single-autor {
  padding: 60px 0;
}

.single-autor-left {
  img {
    width: 100%;
  }
}

.single-autor-right {
  span {
    font-size: 16px;
    text-transform: uppercase;

    @include font;
  }

  div {
    padding-top: 24px;

    p {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 1em;

      @include font;
    }
  }

  a {
    font-size: 20px;
    padding-top: 24px;
    display: block;
    color: $lazo-black;
    text-decoration: none;

    @include font;
  }
}

#destacado-colaboradores {
  padding-top: 60px;

  span {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;

    @include font;
  }
}

.colaboradores-content {
  padding-bottom: 60px;

  @include m768 {
    padding-bottom: 100px;
  }
}

.colaborador {
  padding-top: 24px;
  margin-bottom: 30px;

  img,
  svg {
    display: inline-block;
    width: 85%;
    max-width: 250px;

    @include m576 {
      width: 75%;
    }

    @include m768 {
      width: 50%;
    }
  }

  h4 {
    font-family: neue-haas-unica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    padding-top: 24px;
    margin-bottom: 10px;
  }

  p {
    font-family: neue-haas-unica, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 8px;
  }
}

#destacado-blog {
  background-color: white;
  padding-bottom: 120px;
  position: relative;
  overflow: hidden;
}

.destacado-blog-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  a {
    font-family: neue-haas-unica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: $lazo-black;
  }
}

.marquee--destacado {
  background-color: $lazo-dark-yellow;
}
