.hero--home {
  background-color: $lazo-blue;
}

#homepage-video {
  padding: 120px 0 40px;
  background-color: $lazo-blue;
  overflow: hidden;
  position: relative;
  margin-top: -10px;
}

.homepage-video-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-bottom: 56.25%;
  max-width: 1650px;
  height: 0;
  z-index: 100;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#homepage-blog {
  background-color: $lazo-blue;
  padding: 40px 0 80px;
  position: relative;
  overflow: hidden;
}

.homepage-blog-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  a {
    font-family: neue-haas-unica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: $lazo-black;
  }
}

.homepage-blog-content {
  .homepage-post-image {
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .homepage-post-tag {
    position: absolute;
    top: 16px;
    background-color: white;
    border: 1px #000000 solid;
    font-size: 13px;
    left: 16px;
    font-family: neue-haas-unica, sans-serif;
    padding: 4px 12px;
    border-radius: 16px;
  }

  .homepage-post-text {
    margin-top: 16px;

    h3 {
      font-family: neue-haas-unica, sans-serif;
      font-size: 27px;
      color: #000000;
      font-weight: 500;
    }

    p {
      margin-top: 16px;
      font-family: neue-haas-unica, sans-serif;
      font-size: 17px;
      line-height: 29px;
    }

    .homepage-post-link {
      margin-top: 16px;
    }

    a {
      color: $lazo-black;
      text-decoration: none;
      font-size: 15px;
    }
  }
}

.marquee--home {
  background-color: $lazo-yellow;
}


/////////////////////////////////////
//                             WAVES

.wave-one-container {
  background-color: $lazo-blue;
  margin: 0;
  padding: 0;
}

.wave-two-container {
  background-color: $lazo-yellow;
  margin: 0;
  padding: 0;
}

.wave-active {
  visibility: visible;
}
