.hero--libros {
  background-color: $lazo-light-red;
  width: 100%;
  position: relative;
  padding: 10vh 20px;
  min-height: auto;
}

.wave--libros {
  height: 20px;
}

#libros-mas {
  position: relative;
  background: url('https://cdn.shopify.com/s/files/1/0367/2417/9081/files/lazo-pattern-negro.png?v=1596494214') no-repeat center;
  box-shadow: inset 9999px 9999px 9999px rgba(white, 0.85);
}

.libros-mas-content {
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0;
  text-align: center;

  @include m768 {
    padding: 20% 0 25%;
  }
}

.marquee--libros {
  background-color: $lazo-blue;
}
