.hero--nosotros {
  background-color: $lazo-dark-yellow;
}

#nosotros-sections {
  position: relative;
  width: 100%;
  background-color: $lazo-dark-yellow;
  padding: 120px 0;
}

.wrap-nosotros {
  position: relative;
}

.nosotros-single {
  &__intro {
    position: absolute;
  }

  &__intro--first {
    .nosotros-single__title,
    .nosotros-single__image {
      opacity: 1;
    }
  }
}

.nosotros-single__title,
.nosotros-single__image,
.nosotros-single__text {
  position: relative;
}

.nosotros-single__title {
  opacity: 0;
  display: none;

  @include m992 {
    display: block;
  }

  .title {
    border-top: 2px #ffffff solid;
    padding-top: 24px;
    margin-bottom: 25px;

    @include m768 {
      margin-bottom: 0;
    }
  }
}

.nosotros-single__image {
  opacity: 0;
  display: none;
  width: 100%;
  padding-top: 40px;

  @include m768 {
    padding-top: 0;
  }

  @include m992 {
    display: block;
  }

  img {
    width: 100%;
  }
}

.nosotros-single__text {
  margin-bottom: 60px;

  h2 {
    display: block;
    padding: 30px 0;
    border-top: 1px solid white;

    @include m992 {
      display: none;
    }
  }

  p {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.4;
    color: white;
    padding: 0;
    margin: 0;

    @include m768 {
      font-size: 30px;
    }

    @include m992 {
      font-size: 34px;
    }
  }
}

.somos-lazo {
  position: relative;
  background: url(https://cdn.shopify.com/s/files/1/0367/2417/9081/files/lazo-pattern-rojo.jpg?v=1596589729) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  overflow: hidden;

  @include m768 {
    padding: 25% 0;
  }

  @include m1200 {
    padding: 20% 0;
  }

  .text {
    display: block;
    position: relative;
    left: 100%;
    transform: translateX(0);
    animation: nosotros-move 25s linear infinite;
    
    p {
      display: inline-block;
      color: white;
      font-size: 48px;
      text-transform: uppercase;
      white-space: nowrap;

      @include m768 {
        font-size: 60px;
      }

      @include m992 {
        font-size: 120px;
      }
    }
  }
}

.marquee--nosotros {
  background-color: $lazo-light-red;
}

