.product-content {
  padding: 40px 0;
}

.single-product-image {
  margin-bottom: 20px;
}

.product-intro {
  position: sticky;
  top: 30px;

  h2 {
    margin-bottom: 15px;
  }
}

.product-form {
  padding-top: 50px;
  margin-bottom: 30px;

  .cantidad {
    border: 1px solid $lazo-black;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 10px;

    .controls {
      padding: 11px 0;
      height: 100%;

      span {
        position: relative;
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
        font-size: 25px;
        line-height: 0.9;
      }
    }
  }

  .price {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .custom {
    margin-bottom: 15px;
    width: 100%;

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 3px;
    }

    input {
      width: 100%;
      height: 30px;
      border: 0;
      border-bottom: 1px solid $lazo-black;
      
      &:focus {
        outline: 0;
      }
    }
  }
}

.product-detail {
  border-top: 1px solid $lazo-black;
}

.single-detail {
  border-bottom: 1px solid $lazo-black;
  padding: 10px 0;
  
  h5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    i {
      font-size: 18px;
    }

    .icon-minus {
      display: none;
    }
  }

  &.active {
    h5 {
      .icon-plus {
        display: none;
      }

      .icon-minus {
        display: block;
      }
    }
  }

  &__content {
    display: none;
    padding: 15px 0 0;
  } 
}

.marquee--producto {
  background-color: $lazo-dark-yellow;
}
