.blog-card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 350px;

  @include m768 {
    max-width: none;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $lazo-black;
  }

  &:hover {
    .blog-card__image {
      opacity: 0.7;
    }
  }
}

.blog-card__image {
  overflow: hidden;
  transition: 0.3s all ease-in;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.blog-card__tag {
  position: absolute;
  top: 16px;
  background-color: white;
  border: 1px $lazo-black solid;
  font-size: 13px;
  left: 16px;
  font-family: neue-haas-unica, sans-serif;
  padding: 4px 12px;
  border-radius: 16px;
}

.blog-card__text {
  margin-top: 16px;

  p {
    margin-top: 16px;
    font-family: neue-haas-unica, sans-serif;
    font-size: 17px;
    line-height: 29px;
  }
}

.blog-card__link {
  margin-top: 16px;
  
  a {
    color: $lazo-black;
    text-decoration: none;
    font-size: 15px;
  }
}
