.boletin {
  position: relative;
  background-color: $lazo-black;
  padding: 80px 0 160px;
  
  @include m768 {
    padding: 100px 0 200px;
  }

  .boletin-left {
    margin-bottom: 40px;

    @include m768 {
      padding-right: 15%;
    }

    @include m992 {
      margin-bottom: 0;
    }
  }

  .boletin-right {
    display: flex;
  }

  .boletin-eyebrow {
    color: white;
    font-size: 13px;
    letter-spacing: 2px;

    @include font;
  }
  
  .boletin-title {
    font-size: 40px;
    line-height: 45px;
    color: white;
    margin-top: 16px;
    
    @include font;
  }

  input {
    width: calc(100% - 200px);
    display: inline-block;
    height: 50px;
    background-color: $lazo-black;
    color: white !important;
    border: 0px;
    border-bottom: 1px white solid;
    font-size: 20px;
    opacity: 1;
    padding-left: 12px;

    @include font;
  }

  input::placeholder,
  input::-webkit-input-placeholder,
  input:-ms-input-placeholder {
    color: white !important;
    font-size: 20px;
    opacity: 1;

    @include font;
  }

  button {
    width: 160px;
    display: inline-block;
    height: 50px;
    margin-left: 40px;
    font-size: 15px;

    @include font;
  }
}
