.footer {
  background-color: white;
  padding: 40px 0;

  .footer-top {
    position: relative;
    margin-bottom: 48px;
    display: flex;
    align-items: center;

    .footer-img {
      position: relative;
      left: -12px;
    }
  }

  .footer-social {
    position: absolute;
    right: 0;

    a {
      margin: 24px 0 0 24px;
      text-decoration: none;
    }
  }

  .footer-links {
    .footer-col {
      margin-bottom: 50px;
    }

    h4 {
      font-family: neue-haas-unica, sans-serif;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 25px;
      @include m768 {
        margin-bottom: 40px;
      }
    }

    ul {
      padding-left: 0;
    }

    li {
      list-style-type: none;
      margin: 16px 0;
      font-size: 18px;

      @include font;
    }

    a {
      text-decoration: none;
      color: $lazo-black;
      font-size: 18px;
      
      @include font;
    }
  }

  .footer-bottom {
    margin-top: 32px;
    border-top: 1px #707070 solid;
    padding: 32px 0 0;
    position: relative;

    span,
    a {
      font-family: neue-haas-unica, sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #bbb;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    .bottom-right {
      position: absolute;
      right: 0px;
      margin: auto;
    }
  }
}
