.main-hero {
  width: 100%;
  min-height: calc(100vh - 88px);
  position: relative;
  display: flex;
  align-items: center;

  .container {
    position: relative;
  }

  .main-hero-content,
  .main-hero-img {
    position: relative;
    opacity: 1;
  }

  .hero-link {
    display: none;
    position: absolute;
    left: 20px;
    bottom: -40px;
    opacity: 1;

    @include m768 {
      display: block;
    }

    span {
      font-size: 15px;
      position: absolute;
      top: 4px;
      display: block;
      left: 32px;
    }
  }
}
