.wrap-marquee {
  padding: 10px 0 100px;
  position: relative;
  overflow: hidden;

  @include m768 {
    padding-bottom: 120px;
  }

  &:hover {
    cursor: pointer;

    .marquee-text {
      animation-play-state: paused;
    }
  }

  a {
    display: block;
    text-decoration: none;

    &,
    &:hover,
    &:visited {
      color: $lazo-black;
    }
  }

  .marquee-line {
    margin: 24px auto;
    max-width: 1280px;
    width: 100%;
    height: 1px;
    background-color: $lazo-black;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
  }

  .marquee-text {
    position: relative;
    left: 0;
    white-space: nowrap;
    transform: translateX(0);
    animation: scroll-left 15s linear infinite;
  }

  p {
    display: inline-block;
    text-transform: uppercase;
    font-family: neue-haas-unica, sans-serif;
    font-size: 40px;
    cursor: pointer;
    color: $lazo-black;
  }

  span {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 20px;
    top: -6px;
  }
}
