#module-book {
  background-color: $lazo-yellow;
  padding: 120px 0 160px;
  position: relative;
  overflow: hidden;

  .module-banner-left {
    text-align: center;

    p {
      margin: 32px auto 0;
      font-family: neue-haas-unica, sans-serif;
      font-size: 17px;
      line-height: 29px;
      color: $lazo-black;
      
      @include m768 {
        width: 75%;
      }
    }

    .banner-links {
      display: flex;
      margin-top: 32px;
      justify-content: center;

      .banner-link-leer {
        width: 200px;
      }

      .banner-link-comprar {
        display: block;
        background-color: $lazo-black;
        color: white;
        width: 200px;
        height: 48px;
        padding: 10px;
        border: 0;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;

        @include font;

        i {
          display: inline-block;
          position: relative;
          margin-right: 5px;
          color: white;
          font-size: 20px;
          top: 2px;
        }
      }
    }

    .banner-destino {
      display: flex;
      align-items: stretch;
      margin: 48px auto 0;
      width: 100%;
      max-width: 320px;
      height: 40px;
      border: 1px $lazo-black solid;

      div {
        padding: 6px 10px;
      }
    }

    .banner-destino-icon {
      font-size: 20px;
      border-right: 1px dashed $lazo-black;
    }
  }

  .module-banner-right {
    width: 85%;

    @include m576 {
      width: 75%;
    }
    @include m768 {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .module-banner-circle {
    width: 150px;
    height: 150px;
    position: absolute;
    right: -70px;
    top: 60%;
    animation: rotate 10s linear infinite;
    
    @include m576 {
      right: -10%;
      width: 200px;
      height: 200px;
    }
    @include m768 {
      top: 90%;
    }
    @include m1400 {
      top: 80%;
      right: -15%;
    }

    img {
      width: 100%;
    }
  }

  .module-book_quote {
    p {
      text-align: center;
      margin: 120px auto 0;

      @include m768 {
        margin: 160px auto 0;
      }
      
      @include m768 {
        width: 75%;
      }
    }
  }
}

