.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 2;
  transition: none;

  path {
    position: absolute;
    top: 0;
    left: 0;
    transition: none;
    width: 100%;
  }
}


.wave--reverse {
  top: 100%;
  bottom: auto;
  transform: rotate(180deg);
}

.wave--top {
  bottom: auto;
  top: 0;
}

.wave--small {
  height: 20px;
}

.wave--yellow {
  path {
    fill: $lazo-yellow;
  }
}

.wave--yellow2 {
  path {
    fill: $lazo-dark-yellow;
  }
}

.wave--black {
  path {
    fill: $lazo-black;
  }
}

.wave--red {
  path {
    fill: $lazo-light-red;
  }
}

.wave--white {
  path {
    fill: white;
  }
}

.wave--blue {
  path {
    fill: $lazo-blue;
  }
}
