

// VARIABLES

$lazo-red: #DE4939;
$lazo-light-red: #EEA78E;
$lazo-green: #79CADD;
$lazo-yellow: #FEE399;
$lazo-dark-yellow: #FFCD67;
$lazo-black: #1a1919;
$lazo-blue: #79CADD;



// GENERAL STYLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}


#main-nav {
    width: 100%;
    height: 88px;
    padding: 24px 64px 0;
    position: relative;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    .main-nav_logo {
        position: relative;
        a {
            display: block;
        }
    }
    .main-nav_menu {
        position: relative;
        right: 0;
        left: 0;
        margin: 8px auto 0;
       
        ul {
            list-style-type: none;
        }
        li {
            display: inline-block;
            padding: 0 8px;
        }
        a {
            text-decoration: none;
            font-size: 1em;
            color: $lazo-red;
            
        }
    }
    .main-nav_cart {
        position: relative;
        right: 0px;
        margin-top: 8px;
    }
}



#homepage {
    #homepage-background {
        background-color: $lazo-green;
    }
    #homepage-hero {
        width: 100%;
        height: 100vh;
        padding: 0 64px;
        max-height: 960px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        h1 {
            color: white;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            width: 50%;
            font-size: 56px;
            line-height: 64px;
            padding-top: 15%;
        }
        .hero-link {
            position: absolute;
            left: 64px;
            bottom: 64px;
            span {
               font-size: 15px; 
               position: absolute;
               top: 4px;
               display: block;
               left: 32px;
            }
        }
    }
    #homepage-video {
        padding: 120px 64px 40px;
        background-color: $lazo-green;
        overflow: hidden;
        position: relative;
        margin-top: -10px;
    }
    .homepage-bg {
        max-width: 1280px;
        margin: 0 auto;

    }
    .homepage-video-container {
        width: 100%;
        max-width: 1200px;
        position: relative;
        padding-bottom: 56.25%;
        max-width: 1650px;
        height: 0;
        z-index: 100;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    #homepage-blog {
        background-color: $lazo-green;
        padding: 40px 64px 80px;
        position: relative;
        overflow: hidden;
    }
    .homepage-blog-max {
        max-width: 1280px;
        margin: 0 auto;
    }
    .homepage-blog-top {
        position: relative;
        h2 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 56px;
            font-weight: 400;
            display: inline-block;
        }
        .homepage-blog-link {
            position: absolute;
            display: inline-block;
            right: 0px;
            margin: auto;
        }
        a {
            font-family: neue-haas-unica, sans-serif;
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
    }
    .homepage-blog-content {
        display: flex;
        margin-top: 32px;
        justify-content: space-between;
        .homepage-blog-post {
            position: relative;
            width: calc( 33.333% - 16px );
        }
        .homepage-post-image {
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .homepage-post-tag {
            position: absolute;
            top: 16px;
            background-color: white;
            border: 1px #000000 solid;
            font-size: 13px;
            left: 16px;
            font-family: neue-haas-unica, sans-serif;
            padding: 4px 12px;
            border-radius: 16px;
        }
        .homepage-post-text {
            margin-top: 16px;
            h3 {
                font-family: neue-haas-unica, sans-serif;
                font-size: 27px;
                color: #000000;
                font-weight: 500;
            }
            p {
                margin-top: 16px;
                font-family: neue-haas-unica, sans-serif;
                font-size: 17px;
                line-height: 29px;
            }
            .homepage-post-link {
                margin-top: 16px;
            }
            a {
                color: black;
                text-decoration: none;
                font-size: 15px;
            }
        }
    }


    #homepage-marquee {
        background-color: $lazo-yellow;
        padding: 40px 0 80px;
        position: relative;
        .marquee-line {
            margin: 24px auto;
            max-width: 1280px;
            width: 100%;
            height: 1px;
            background-color: black;
            overflow: hidden;
            display: block;
            box-sizing: border-box;
           
        }
        .marquee-text {
            width: 100%;
            position: relative;
            left: 0;
            overflow: hidden;
            word-break: keep-all;
        }
        p {
            font-family: neue-haas-unica, sans-serif;
            font-size: 40px;
            width: 300%;
            height: 100%;
            word-break: keep-all;
        }
    }
    
} 




/////////////////////////////////////
//                            NOSOTROS


#nosotros {
    #nosotros-hero {
        width: 100%;
        background-color: $lazo-dark-yellow;
    }
    .nosotros-hero-content {
        width: 100%;
        height: 100vh;
        padding: 0 64px;
        max-height: 960px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        h1 {
            color: white;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            width: 50%;
            font-size: 56px;
            line-height: 64px;
            padding-top: 15%;
        }
        .hero-link {
            position: absolute;
            left: 64px;
            bottom: 64px;
            span {
               font-size: 15px; 
               position: absolute;
               top: 4px;
               display: block;
               left: 32px;
            }
        }
    }
    #nosotros-sections {
        width: 100%;
        background-color: $lazo-dark-yellow;
        padding-top: 120px;
    }
    .nosotros-sections-content {
        width: 100%;
        height: auto;
        padding: 0 64px 80px;
        position: relative;
        margin: 0 auto;
        max-width: 1280px;

    }
    .nosotros-single {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
    }
    .nosotros-left {
        border-top: 2px #ffffff solid;
        width: 40%;
    }
    h2 {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: white;
        padding-top: 24px;
    }
    .nosotros-single-image {
        width: 100%;
        padding-top: 40px;
    }
    img {
        width: 100%;
        object-fit: contain;
    }
    .nosotros-right {
        width: 45%;
    }
    p {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-size: 34px;
        line-height: 48px;
        color: white;
        padding: 0;
        margin: 0;
    }
}


#libros {
    #libros-hero {
        width: 100%;
        background-color: $lazo-light-red;
    }
    .libros-hero-content {
        width: 100%;
        height: 80vh;
        padding: 0 64px;
        max-height: 600px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        h1 {
            color: white;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            width: 70%;
            font-size: 40px;
            line-height: 48px;
            padding-top: 15%;
        }
    }
    #libros-mas {
        width: 100%;
        min-height: 70vh;
        position: relative;
        background-image: url(https://cdn.shopify.com/s/files/1/0367/2417/9081/files/Mask_Group_13_2x_bafe93ca-42c9-430d-9366-bb1e453b3941.png?v=1586474222);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
    }
    .libros-mas-content {
        width: 50%;
        max-width: 800px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        p {
            color: #1A1919;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            text-align: center;
            font-size: 40px;
            line-height: 44px;
        }
    }
}


#blog {
    #blog-hero {
        width: 100%;
        background-color: $lazo-blue;
    }
    .blog-hero-content {
        width: 100%;
        height: 80vh;
        padding: 50px 64px 0;
        max-height: 800px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        .blog-hero-left {
            width: 55%;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .blog-hero-right {
            width: 45%;
            padding-left: 40px;
        }
        h2 {
            color: #1A1919;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            
            font-size: 32px;
            line-height: 39px;
            
        }
        p {
            color: #1A1919;
            font-family: neue-haas-unica, sans-serif;
            font-weight: normal;
            margin-top: 20px;
            font-size: 20px;
            line-height: 30px;
        }
        .blog-post-link {
            margin-top: 24px;
            a {
                color: black;
                text-decoration: none;
                font-size: 15px;
            }
        }
        .hero-link {
            position: absolute;
            left: 64px;
            bottom: 64px;
            span {
               font-size: 15px; 
               position: absolute;
               top: 4px;
               display: block;
               left: 32px;
            }
        }
    }

    #blog-content {
        width: 100%;
        background-color: $lazo-blue;
    }
    #blog-bg {
        width: 100%;
        padding: 120px 64px 120px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;

        .blog-entries {
            display: flex;
            justify-content: space-between;
        }
    }
    .blog-singular {
        width: calc( 33.3333% - 20px );
    }

    .singular-image {
        position: relative;
        margin-bottom: 24px;
        a {
            width: 100%;
        }
        img {
            width: 100%;
        }
        span {
            position: absolute;
            top: 16px;
            background-color: white;
            border: 1px #000000 solid;
            font-size: 13px;
            left: 16px;
            font-family: neue-haas-unica, sans-serif;
            padding: 4px 12px;
            border-radius: 16px;
        }
    }
    h2 > a {
        font-family: neue-haas-unica, sans-serif;
        font-size: 27px;
        color: #000000;
        font-weight: 500;
        text-decoration: none;
    }
    p {
        margin-top: 16px;
        font-family: neue-haas-unica, sans-serif;
        font-size: 17px;
        line-height: 29px;
    }
    .blog-singular-link {
        margin-top: 16px;
        a {
            color: black;
            text-decoration: none;
            font-size: 15px;
        }
    }
}

#contacto {
    #contacto-hero {
        width: 100%;
        background-color: $lazo-dark-yellow;
    }
    .contacto-hero-content {
        width: 100%;
        height: 90vh;
        padding: 50px 64px 0;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    h1 {
        color: white;
        font-family: neue-haas-unica, sans-serif;
        width: 60%;
        font-size: 56px;
        line-height: 64px;
        padding-top: 10%;
        font-weight: 500;
    }
    .hero-link {
        position: absolute;
        left: 64px;
        bottom: 64px;
        span {
           font-size: 15px; 
           position: absolute;
           top: 4px;
           display: block;
           left: 32px;
        }
    }
    #contacto-form {
        width: 100%;
        background-color: $lazo-dark-yellow;
    }
    #contacto-form-container {
        width: 100%;
        padding: 50px 64px 120px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .contacto-form-left {
        width: 50%;
    }
    h2 {
        color: white;
        font-family: neue-haas-unica, sans-serif;
        font-size: 40px;
        line-height: 45px;
        font-weight: 400;
    }
    .form-social {
        margin-top: 40px;
    }
    h3 {
        color: black;
        font-family: neue-haas-unica, sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .form-social-icons {
        margin-top: 16px;
    }
    a {
        text-decoration: none;
        margin-right: 24px;
    }
    .contacto-form-right {
        width: 50%;
        padding-top: 20px;
    } 
    input, textarea {
        width: 100%;
        display: block;
        background-color: transparent;
        border: 0px solid;
        border-bottom: 1px #1A1919 solid;
        padding: 0 0 0 16px;
    }
    input {
        height: 60px;
        font-family: neue-haas-unica, sans-serif;
        font-size: 14px;
    }
    input:-ms-input-placeholder,
    input::-webkit-input-placeholder {
        font-family: neue-haas-unica, sans-serif;
        font-size: 14px;
    }
    textarea {
        min-height: 120px;
        font-family: neue-haas-unica, sans-serif;
        font-size: 14px;
        margin-top: 10px;
        padding-top: 10px;
    }
    button {
        margin-top: 24px;
        border: none;
        background-color: black;
        width: 200px;
        height: 50px;
        color: white;
        font-family: neue-haas-unica, sans-serif;
        font-size: 14px;
    }
    #contacto-info {
        width: 100%;
        background-color: white;
    }
    #contacto-info-container {
        width: 100%;
        padding: 120px 64px 120px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .contacto-info-left {
        width: 50%;
        padding-right: 10%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .contacto-info-right {
        width: 50%;
        span {
            font-family: neue-haas-unica, sans-serif;
            font-size: 16px;
        }
        h3 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 56px;
            line-height: 60px;
            font-weight: 500;
            padding-top: 16px;
            color: #1A1919;
        }
        p {
            font-family: neue-haas-unica, sans-serif;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            padding-top: 24px;
        }
        a {
            font-family: neue-haas-unica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding-top: 24px; 
            display: block;
            color: #1A1919;
            text-decoration: underline;
        }

    }
}


#producto {
    #producto-buy-bar {
        width: 100%;
        height: 50px;
        background-color: #1A1919;
        position: fixed;
        bottom: 0;
        z-index: 100;
        color: white;
        text-align: center;
        font-family: neue-haas-unica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        padding-top: 12px;
        text-decoration: none;
    }
    #producto-hero {
        width: 100%;
        height: 100vh;
        background-image: url(https://cdn.shopify.com/s/files/1/0367/2417/9081/files/Group_120_2x_30c5a5c3-e850-4151-8203-2ba0569e5ed8.png?v=1586539257);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-link {
        position: absolute;
        left: 64px;
        bottom: 64px;
        span {
           font-size: 15px; 
           position: absolute;
           top: 4px;
           display: block;
           left: 32px;
        }
    }
    .producto-hero-content {
        width: 70%;
        padding: 50px 0 0;
        position: absolute;
        max-width: 1280px;
        margin:auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        height: 350px;
        h1 {
            width: 100%;
            display: block;
            color: white;
            font-size: 88px;
            line-height: 92px;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            margin-bottom: 32px;
        }
        span {
            width: 100%;
            display: block;
            color: white;
            font-size: 16px;
            font-family: neue-haas-unica, sans-serif;
            margin-bottom: 8px;
        }
    }
    #producto-info {
        width: 100%;
        background-color: white;
    }
    #producto-info-content {
        width: 100%;
        padding: 120px 64px 80px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .producto-info-left {
        width: 50%;
        padding-right: 32px;
    }
    h3 {
        font-family: neue-haas-unica, sans-serif;
        font-size: 25px;
        line-height: 37px;
        font-weight: 700;
        color: #1A1919;
    }
    .producto-line {
        width: 120px;
        height: 1px;
        background-color: black;
        display: block;
        margin: 30px 0;
    }
    .producto-detail {
        margin-bottom: 24px;
    }
    h4 {
        font-family: neue-haas-unica, sans-serif;
        font-size: 16px;
        color: #1A1919;
        font-weight: 500;
    }
    span {
        font-family: neue-haas-unica, sans-serif;
        font-size: 16px;
        color: #1A1919;
        font-weight: 400;
    }
    .producto-info-right {
        width: 50%;
    }
    p {
        font-family: neue-haas-unica, sans-serif;
        font-size: 25px;
        line-height: 37px;
        color: #1A1919;
        font-weight: 400;
    }
    #producto-slider {
        width: 100%;
        background-color: white;
    }
    #producto-slider-containter {
        width: 100%;
        padding: 80px 64px 120px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .producto-slider-left {
        width: calc( 85% - 10px ) ;
    }
    .producto-slider-right {
        width: calc( 15% - 10px );
        .slick-track {
            display: flex;
            flex-direction: column;
            .slick-slide {
                width: 100% !important;
            }
        }
    }
    .slick-arrow {
        display: none !important;
    }
    .slide {
        width: 100%;
    }
    img {
        width: 100%;
    }
    #producto-pictures {
        width: 100%;
        background-color: white;
    }
    #producto-pictures-container {
        width: 100%;
        padding: 80px 0 80px;
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
        display: block;
        
    }
    #producto-video {
        width: 100%;
        background-color: white;
    }
    #producto-video-container {
        width: 100%;
        padding: 80px 64px 120px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        div {
            width: 100%;
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            z-index: 100;  
        }
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #producto-banner {
        width: 100%;
        background-color: white;
    }
    #producto-banner-container {
        width: 100%;
        padding: 40px 0 120px;
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
    }
    #producto-autores {
        width: 100%;
        background-color: white;
    }
    #producto-autores-container {
        width: 100%;
        padding: 40px 64px 40px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        h2 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 56px;
            line-height: 64px;
            color: #1A1919;
            font-weight: 500;
            width: 50%;
        }
    }
    .single-autor {
        display: flex;
        padding: 60px 0;
    }
    .single-autor-left {
        width: 50%;
        padding-right: 12%;
        img {
            width: 100%;
        }
    }
    .single-autor-right {
        width: 50%;
        span {
            font-family: neue-haas-unica, sans-serif;
            font-size: 16px;
        }
        h3 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 56px;
            line-height: 60px;
            font-weight: 500;
            padding-top: 16px;
            color: #1A1919; 
        }
        p {
            font-family: neue-haas-unica, sans-serif;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            padding-top: 24px; 
        }
        a {
            font-family: neue-haas-unica, sans-serif;
            font-size: 20px;
            font-weight: 400;
            padding-top: 24px;
            display: block;
            color: #1A1919;
            text-decoration: underline;
        }
    }
    #producto-colaboradores {
        width: 100%;
        background-color: white;
    }
    #producto-colaboradores-container {
        width: 100%;
        padding: 20px 64px 40px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        span {
            font-family: neue-haas-unica, sans-serif;
            font-size: 16px;
        }
    }
    .colaboradores-content {
        display: flex;
        padding-bottom: 56px;
    }
    .colaborador {
        width: 25%;
        padding: 24px 20px 0 0;
        img {
            width: 50%;
        }
        h4 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 27px;
            line-height: 30px;
            font-weight: 500;
            padding-top: 24px; 
        }
        p {
            font-family: neue-haas-unica, sans-serif;
            font-size: 17px;
            line-height: 30px;
            font-weight: 400;
            padding-top: 8px; 
        }
      
    }
    #producto-blog {
        background-color: white;
        padding: 0px 64px 120px;
        position: relative;
        overflow: hidden;
    }
    .producto-blog-max {
        max-width: 1280px;
        margin: 0 auto;
    }
    .producto-blog-top {
        position: relative;
        h2 {
            font-family: neue-haas-unica, sans-serif;
            font-size: 56px;
            font-weight: 400;
            display: inline-block;
        }
        .producto-blog-link {
            position: absolute;
            display: inline-block;
            right: 0px;
            margin: auto;
        }
        a {
            font-family: neue-haas-unica, sans-serif;
            font-size: 15px;
            text-decoration: none;
            color: black;
        }
    }
    .producto-blog-content {
        display: flex;
        margin-top: 32px;
        justify-content: space-between;
        .producto-blog-post {
            position: relative;
            width: calc( 33.333% - 16px );
        }
        .producto-post-image {
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .producto-post-tag {
            position: absolute;
            top: 16px;
            background-color: white;
            border: 1px #000000 solid;
            font-size: 13px;
            left: 16px;
            font-family: neue-haas-unica, sans-serif;
            padding: 4px 12px;
            border-radius: 16px;
        }
        .producto-post-text {
            margin-top: 16px;
            h3 {
                font-family: neue-haas-unica, sans-serif;
                font-size: 27px;
                color: #000000;
                font-weight: 500;
            }
            p {
                margin-top: 16px;
                font-family: neue-haas-unica, sans-serif;
                font-size: 17px;
                line-height: 29px;
            }
            .producto-post-link {
                margin-top: 16px;
            }
            a {
                color: black;
                text-decoration: none;
                font-size: 15px;
            }
        }
    }
}



/////////////////////////////////////
//                            MODULES


#module-book {
    background-color: $lazo-yellow;
    padding: 120px 64px;
    position: relative;
    overflow: hidden;
    margin-top: -10px;
    .module-book_banner {
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
       
    }
    .module-banner-left {
        text-align: center;
        width: 50%;
        h2 {
            font-family: neue-haas-unica, sans-serif;
            font-weight: 500;
            font-size: 66px;
            line-height: 72px;  
            color: $lazo-black;
        }
        p {
            font-family: neue-haas-unica, sans-serif;
            font-size: 17px;
            line-height: 29px;  
            color: $lazo-black;
            //margin-top: 32px;
            width: 75%;
            margin: 32px auto 0;
        }
        .banner-links {
            display: flex;
            margin-top: 32px;
            padding: 0 64px;
            justify-content: center;
        }
        .banner-link-leer {
            width: 200px;
        }
        .banner-link-comprar {
            width: 200px;
            height: 48px;
            background-color: $lazo-black;
            color: white;
            padding: 12px 0 0;
            display: block;
        }
        .banner-destino {
            margin: 48px auto 0;
            padding: 6px 0 0;
            width: 320px;
            height: 40px;
            border: 1px $lazo-black solid;
        }
    }
    .module-banner-right {
        width: 50%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    .module-banner-circle {
        width: 200px;
        height: 200px;
        position: absolute;
        right: -5%;
        bottom: 50%;
        animation: rotate 10s linear infinite;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
  

    .module-book_quote {
        max-width: 1280px;
        margin: 0 auto;
        p {
            text-align: center;
            font-family: neue-haas-unica, sans-serif;
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;  
            color: $lazo-black;
            margin: 120px auto 0;
            width: 75%;
        }
    }
}


/////////////////////////////////////
//                              FOOTER

#boletin {
    background-color: $lazo-black;
    padding: 120px 64px;
    .boletin-content {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .boletin-left {
        width: 40%;
    }
    .boletin-right {
        width: 60%;
        padding-left: 15%;
        display: flex;
    }
    .boletin-eyebrow {
        color: white;
        font-family: neue-haas-unica, sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .boletin-title {
        font-family: neue-haas-unica, sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 45px;
        color: white;
        margin-top: 16px;
    }
    input {
        width: calc( 100% - 200px );
        display: inline-block;
        height: 50px;
        background-color: $lazo-black;
        color: white !important;
        border: 0px;
        border-bottom: 1px white solid;
        font-family: neue-haas-unica, sans-serif;
        font-size: 20px;
        opacity: 1;
        padding-left: 12px;
    }
    input::placeholder,
    input::-webkit-input-placeholder,
    input:-ms-input-placeholder {
        color: white !important;
        font-family: neue-haas-unica, sans-serif;
        font-size: 20px;
        opacity: 1;
    }
    
    button {
        width: 160px;
        display: inline-block;
        height: 50px;
        margin-left: 40px;
        font-family: neue-haas-unica, sans-serif;
        font-size: 15px;
    }
}

#footer {
    background-color: white;
    padding: 120px 64px 40px;
    .footer-content {
        max-width: 1280px;
        margin: 0 auto;
    }

    .footer-top {
        position: relative;
        margin-bottom: 48px;
        display: flex;
    }
    
    .footer-social {
        position: absolute;
        right: 0;
        a {
            margin: 24px 0 0 24px;
        }
    }

    .footer-links {
        display: flex;
    }
    .footer-col {
        width: 33.33333%;
    }
    h4 {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 40px;
    }
   
    li {
        list-style-type: none;
        margin: 16px 0;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-size: 18px;
    } 
    a {
        text-decoration: none;
        color: black;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    .footer-bottom {
        margin-top: 32px;
        border-top: 1px #707070 solid;
        padding: 32px 0 0;
        position: relative;
        span {
            opacity: 0.5;
            font-family: neue-haas-unica, sans-serif;
            font-weight: 400;
            font-size: 14px;
        }
        .bottom-right {
            position: absolute;
            right: 0px;
            margin: auto;
        }
    }
}



/////////////////////////////////////
//                         ANIMATIONS

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


/////////////////////////////////////
//                             WAVES

.wave-one-container {
    background-color: $lazo-green;
    margin: 0;
    padding: 0;
}
.wave-two-container {
    background-color: $lazo-yellow;
    margin: 0;
    padding: 0;
}



.wave-active {
    visibility: visible;
}