<div id="page" data-barba="container" data-barba-namespace="{{ page.title | handleize }}">
   <div class="animated"></div>
    <div class="main-hero hero--page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-hero-content">
                        <h1 class="title title--big title--white">
                            Error 404
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--white js-wave"><path d="M0 10 L2500 10 L2500 80 L0 80 Z" /></svg>
    </div>

   <div class="wrap-page">
        <div class="container">
            <div>
                <p>
                    La página que estás tratando de buscar no existe.
                </p>
            </div>
        </div>
   </div>
</div>
