
<div data-barba="wrapper">
<div id="libros" data-barba="container" data-barba-namespace="libros" >
    <div id="libros-content">
        <div id="libros-hero">
            <div class="libros-hero-content">
                <h1>
                    Cada libro representa un viaje a un lugar distinto y en cada uno buscamos responder diversas preguntas sobre nuestro país.
                </h1>
            </div>
        </div>
        
   

    {% include 'module-book' %}

    <div id="libros-mas">       
        <div class="libros-mas-content">
            <p>Estamos creando más libros para lectores curiosos.</p>
        </div>
    </div>

</div>
</div>