{% comment %}
{% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
  <label for="ContactFormName">name</label>
  <input type="text" id="ContactFormName" name="contact[name]">
  <label for="ContactFormEmail">email</label>
  <input type="email" id="ContactFormEmail" name="contact[email]">
  <label for="ContactFormPhone">phone</label>
  <input type="tel" id="ContactFormPhone" name="contact[phone]">
  <label for="ContactFormMessage">message</label>
  <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
  <input type="submit" value="send">
{% endform %} {% endcomment %}


<div id="contacto" data-barba="container" data-barba-namespace="contacto">
    <div class="animated"></div>
    <div class="main-hero hero--contacto">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-6">
                    <div class="main-hero-content">
                        <h1 class="title title--big title--white">
                            Nos encanta estar cerca a nuestros lectores y a todas las mentes curiosas que han llegado hasta acá.
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/contacto.gif?v=1595806566" alt="">
                    </div>
                </div>
            </div>
            <div class="hero-link">
                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/hero-arrow.svg?v=1585454452" alt="">
                <span>SCROLL</span>
            </div>
        </div>
    </div>

    <div id="wrap-contacto-form">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="title title--white">
                        Hablemos
                    </h2>
                    <div class="form-social">
                        <h3>SÍGUENOS</h3>
                        <div class="form-social-icons">
                            <a href="">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/instagram-white.svg?v=1586535617" alt="">
                            </a>
                            <a href="">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/youtube-white.svg?v=1586535608" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contacto-form">
                        <form action="">
                            <input type="text" name="nombre" placeholder="Nombre completo">
                            <input type="email" name="email" placeholder="Email">
                            <textarea name="mensaje" placeholder="Escribe tu mensaje"></textarea>
                            <button type="submit">ENVIAR MENSAJE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--white"><path class="js-wave" d=""/></svg>
    </div>

    <div id="contacto-info">
        <div class="container">
            <div class="row between">
                <div class="col-md-5">
                    <div class="contacto-info-left"">
                        <svg class="svg-1" x="0px" y="0px" viewBox="0 0 467 488">
                            <mask id="shape-mask-2">
                                <g id="Grupo_94" transform="translate(6581.892 -10135.987)">
                                    <path class="mask-path-2" fill="#D3D3D3" d="M-6159.6,10462.3c0,0-113.1,150.2-21.1,153.8C-6082.4,10611.7-6126.5,10408.4-6159.6,10462.3z"/>
                                    <path class="mask-path-2" fill="#D3D3D3" d="M-6319.9,10143.9c0,0-238.4-22.5-227.1,159.9c-14.2,93.1-62,213.4,0,264.1s110.7,31.1,210.6,36.4
                                        c66,0,95.9-26,114.5-148.6C-6186.1,10387.2-6142.9,10159-6319.9,10143.9z"/>
                                </g>
                            </mask>
                            <image width="100%" height="100%" preserveAspectRatio="xMidYMid slice" xlink:href="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/paula-guerra-arjona.jpg?v=1594255611" mask="url(#shape-mask-2)"></image>
                        </svg>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contacto-info-right">
                        <span class="role">
                            EDITORA DE LAZO LIBROS
                        </span>
                        <h3 class="title title--big">
                            Paula <br>
                            Guerra
                        </h3>
                        <p>
                            ¡Hola! Fundé Lazo Libros con el sueño de agrupar y rescatar historias sobre Colombia bajo un mismo sello editorial. Soy Comunicadora Social de la Universidad Javeriana con énfasis en Periodismo y Producción Editorial. Hice la Especialización en Literatura Infantil y Juvenil en la misma universidad, y justo ahí nació la idea de contarle Colombia a los niños a través de libros ilustrados de no ficción. Vivo orgullosa de mi país y de todas las historias que lo conforman. Me encanta viajar, montar a caballo y si no estoy haciendo alguna de las anteriores, estoy leyendo o visitando librerías.
                        </p>
                        <p>
                            Formemos juntos un lazo de experiencias.
                        </p>
                        <a href="">pguerra@lazolibros.com</a>
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--blue"><path class="js-wave" d=""/></svg>
    </div>

    <div class="wrap-marquee marquee--contact">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>
</div>
