<div id="nosotros" data-barba="container" data-barba-namespace="nosotros">
    <div class="animated"></div>
    <div class="main-hero hero--nosotros">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-6">
                    <div class="main-hero-content">
                        <h1 class="title title--white title--big">
                            Somos una editorial 
                            de libros informativos que resaltan y rescatan historias sobre Colombia.
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nosotros.gif?v=1594258358" alt="">
                        {% comment %} <video autoplay loop>
                            <source src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/nosotros.mp4?v=1594257970" type="video/mp4">
                            <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/1-rojo_2x_74e7879c-0055-4419-b13a-0d486940c511.png?v=1586025255" alt="">
                        </video> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="hero-link">
                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/hero-arrow.svg?v=1585454452" alt="">
                <span>SCROLL</span>
            </div>
        </div>
    </div>

    <div id="nosotros-sections">
        <div class="js-nosotros-trigger"></div>
        <div class="container">
            <div class="wrap-nosotros js-wrap-nosotros">
                <div class="nosotros-single">
                    <div class="row between">
                        <div class="col-md-4 col-lg-5">
                            <div class="nosotros-single__title js-title-1">
                                <h2 class="title title--white">
                                    Vivimos obsesionados.
                                </h2>
                            </div>
                            <div class="nosotros-single__image js-image-1">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/obsesionados.jpg?v=1594255607" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-6">
                            <div class="nosotros-single__text js-text-1">
                                <p>
                                    Investigamos y transformamos información y datos en narraciones y libros ilustrados. Le damos un lugar a la información escondida y acompañamos a los lectores en su descubrimiento del mundo. 
                                </p>
                                <p>
                                    Nos emociona nacer en Colombia y tener ante nosotros universos infinitos por explorar y enlazar. Cada libro representa un viaje a un lugar distinto y en cada uno buscamos responder diversas preguntas sobre nuestro país. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nosotros-single nosotros-single--abs">
                    <div class="row between">
                        <div class="col-md-4 col-lg-5">
                            <div class="nosotros-single__title js-title-2">
                                <h2 class="title title--white">
                                    Creemos que la curiosidad nos mantiene vivos.
                                </h2>
                            </div>
                            <div class="nosotros-single__image js-image-2">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/curiosos.jpg?v=1594255607" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-6">
                            <div class="nosotros-single__text js-text-2">
                                <p>
                                    Creemos en las historias bien contadas y en que los libros informativos jamás pueden ser aburridos. 
                                </p>
                                <p>
                                    Creemos en las historias colombianas, en su talento local y 
                                    en las voces de cada región. 
                                </p>    
                                <p>
                                    Creemos que la literatura infantil 
                                    y juvenil tiene múltiples lectores,
                                    y que los libros ilustrados son un mundo abierto para todas las edades: niños, jóvenes, adultos y todos aquellos adultos con alma 
                                    de niños.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nosotros-single nosotros-single--abs">
                    <div class="row between">
                        <div class="col-md-4 col-lg-5">
                            <div class="nosotros-single__title js-title-3">
                                <h2 class="title title--white">
                                    Creemos que leer no se trata solo de palabras.
                                </h2>
                            </div>
                            <div class="nosotros-single__image js-image-3">
                                <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/2-rojo_2x_8dbb702c-05b0-4fdf-89d9-804e8effe76e.png?v=1586025255" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-6">
                            <div class="nosotros-single__text js-text-3">
                                <p>
                                    Creemos que leer se trata también de imágenes. Creemos en el poder de las ilustraciones, y por supuesto, en la belleza del libro álbum.  
                                </p>
                                <p>
                                    Creemos que la lectura es un lazo que se construye en familia, y que cuando está unido encuentra infinitos caminos.     
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="wave wave--red"></div>
    </div>

    <div class="wrap-marquee marquee--nosotros">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
            <p>CONOCE NUESTROS LIBROS</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>
</div>
