
<div data-barba="wrapper">
<div id="libros" data-barba="container" data-barba-namespace="libros" >
    <div id="libros-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title title--white">
                        Cada libro representa un viaje a un lugar distinto y en cada uno buscamos responder diversas preguntas sobre nuestro país.
                    </h1>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>


    {% include 'module-book' %}

    <div id="libros-mas">
        <div class="container">
            <div class="libros-mas-content">
                <p class="title">
                    Estamos creando más libros para lectores curiosos.
                </p>
            </div>
        </div>       
    </div>

    <div class="wrap-marquee marquee--libros">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>
</div>
</div>
