
<div id="libros" data-barba="container" data-barba-namespace="libros">
    <div class="animated"></div>
    <div class="main-hero hero--libros">
        <div class="container">
            <div class="row v-center">
                <div class="col-md-8">
                    <div class="main-hero-content">
                        <h1 class="title title--white">
                            Cada libro representa un viaje a un lugar distinto y en cada uno buscamos responder diversas preguntas sobre nuestro país.
                        </h1>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="main-hero-img">
                        <img src="https://cdn.shopify.com/s/files/1/0367/2417/9081/files/libros.gif?v=1594260753" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--yellow"><path class="js-wave" d=""/></svg>
    </div>

    {% include 'module-book' %}

    <div id="libros-mas">
        <div class="container">
            <div class="libros-mas-content">
                <p class="title">
                    Estamos creando más libros para lectores curiosos.
                </p>
            </div>
        </div> 
          
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--blue"><path class="js-wave" d=""/></svg>  
    </div>

    <div class="wrap-marquee marquee--libros">
        <div class="marquee-line"></div>
        <div class="marquee-text">
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
            <p>BLOG</p>
            <span>&bull;</span>
        </div>
        <div class="marquee-line"></div>
    </div>
</div>
