<div id="page" data-barba="container" data-barba-namespace="{{ page.title | handleize }}">
   <div class="animated"></div>
    <div class="main-hero hero--page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-hero-content">
                        <h1 class="title title--big title--white">
                            {{ page.title }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave--white"><path class="js-wave" d="M 0 49.6473 C 422.8883 41.1901 422.8883 41.1901 845.7766 45.4188 C 1268.6649 49.6473 1268.6649 49.6473 1691.5533 37.5506 C 2114.4416 25.4538 2114.4416 25.4538 2537.3299 41.7879 L 2537.3299 3972.8999 L 0 3972.8999 Z"></path></svg>
    </div>

   <div class="wrap-page">
        <div class="container">
            <div>{{ page.content }}</div>
        </div>
   </div>
</div>
