// VARIABLES
$lazo-red: #DE4939;
$lazo-light-red: #EEA78E;
$lazo-yellow: #FEE399;
$lazo-dark-yellow: #FFCD67;
$lazo-black: #1a1919;
$lazo-blue: #79CADD;

@mixin font() {
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

// Media queries
@mixin m450  { @media (min-width: 450px)  { @content; } };
@mixin m576  { @media (min-width: 575px)  { @content; } };
@mixin m600  { @media (min-width: 600px)  { @content; } };
@mixin m768  { @media (min-width: 768px)  { @content; } };
@mixin m992  { @media (min-width: 992px)  { @content; } };
@mixin m1200 { @media (min-width: 1199px) { @content; } };
@mixin m1400 { @media (min-width: 1399px) { @content; } };
@mixin m1800 { @media (min-width: 1800px) { @content; } };
@mixin m2200 { @media (min-width: 2200px) { @content; } };
@mixin media($size) { @media (min-width: $size) { @content; } };
